<!DOCTYPE html>
<html lang="en">


<head>
  <!-- Other tags -->
  <meta name="dicoding:email" content="fajarrahmanaa98@gmail.com">
  <meta name="dicoding:email" content="wakk.gunawan@gmail.com">
  <meta name="dicoding:email" content="t21rizkianggara@gmail.com">
  <!-- Other tags -->

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trigunar Travel</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
</head>

<body>
  <header class="app-bar">
    <div class="app-bar__title">
      <h1>Trigunar</h1>
    </div>
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/kota">Tri Kota</a></li>
        <li><a href="#/paket-wisata">Paket Wisata</a></li>
        <li><a href="#/tentang-kita">Tentang Kami</a></li>
      </ul>
    </nav>
  </header>

  <main id="main-content" class="main-content"></main>

  <!-- Footer -->
  <footer>
    <div class="footer-pembungkus">
      <div class="footer__social">
        <a href="https://www.facebook.com/profile.php?id=100022475101148"><i class="fab fa-facebook"></i></a>
        <a href="https://discord.com/channels/@me/1224191688894054460/1252639702159458345"><i
            class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/gunawan-rohadi/"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer__links">
        <a href="#/about">Tentang Aplikasi</a>
        <a href="#/contact">Hubungi Kami</a>
        <a href="#/tentang-kita">Tentang Kami</a>
      </div>
    </div>
    <div class="footer-deskripsi">
      <p>Trigunar Travel © All RIGHTS RESERVED</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</body>

</html>